
###################### General ##################

# -



###################### OS generated #############

########### Mac OS X
*~
._*
__MACOSX
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
### jenv
.java-version

########### Windows
Desktop.ini
ehthumbs.db
Thumbs.db

########### Linux
# -



###################### IDE configurations #######

########### IntelliJ Idea
.idea/
.intellij/
*.eml
*.iws
*.iml
*.ipr
out/

########### Eclipse
.externalToolBuilders/
.metadata*/
.recommenders/
eclipsebin/
RemoteSystemsTempFiles/

########### VS Code
.vscode/
